.travel {
  display: flex;
  padding: 10px 0px;
  align-items: center;
}
.company {
  max-width: 68%;
  margin: auto;
}
.span {
  color: blue;
}
.ii {
  background-color: #fff0e0;
  padding: 12px 12px;
  font-size: 40px;
  margin: 0px 10px;
  border-radius: 50%;
  color: crimson;
}
.icon-small {
  font-size: 14px;
  color: gray;
}
.left_box {
  display: flex;
  align-items: center;
}
.left_box > p {
  color: black;
}
.save {
  padding: 10px;
  display: flex;
  margin-top: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.le_img > img {
  width: 150px;
}
.right_save {
  margin-left: 20px;
}
.right_save > p:first-child {
  font-weight: 600;
  font-size: 18px;
}
.right_save > p:last-child {
  font-size: 16px;
  color: gray;
}
.right_save > button {
  background-color: #0071c2;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
.covid__box {
  padding: 10px 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gainsboro;
}
.travel > input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.main__container {
  max-width: 66%;
  margin: auto;
}
.grid__box {
  display: grid;
  margin: 20px 0px;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "box1 box2 box2 box3 "
    "box4 box2 box2 box5";
}
.innner__explore_container {
  display: flex;
  align-items: center;
  transition: all 1s ease;
}
.grid__box > div {
  font-weight: bold;
  font-size: 25px;
}
.explore__pak > h3 {
  padding: 5px 6px;
  margin-bottom: 0;
}
.explore__pak > p {
  margin-top: 0px;
  color: gray;
  padding: 2px 4px 8px 8px;
}
.explore_box {
  margin: 5px 10px;
}
.down > h3 {
  padding-right: 20px;
}
.down {
  display: flex;
  justify-content: space-between;
  padding: 10px 9px;
  align-items: center;
}
.genious__box {
  margin: 20px 0px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 5px;
  border-radius: 10px;
}
.get_inspire {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.get_inspire {
  margin: 10px 0px;
}
.get_inspire > div {
  height: 300px;
  font-weight: bold;
  color: whitesmoke;
  font-size: 20px;
}
.get_inspire > div:first-child {
  color: whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1493863438658-3e7743ac61cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhdmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.get_inspire > div:last-child {
  color: whitesmoke;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1557745171-cd96865d2dda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhdmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.get_inspire > div:nth-child(2) {
  color: whitesmoke;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1624953196066-06d3725839cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHRyYXZlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.explore_box > img {
  width: 180px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  height: 150px;
  object-fit: cover;
}
.abs {
  position: absolute;
  top: 0;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  z-index: 989;
  align-items: center;
  justify-content: center;
  width: 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 40px;
  bottom: 0;
  margin: auto;
}
.explore__pak {
  overflow: hidden;
  position: relative;
}
.title {
  font-weight: bold;
  font-size: 14px;
}
.para {
  color: gray;
  font-style: 12px;
}
.explore__pak > p:first-child {
  font-weight: bold !important;
}
.item1 {
  color: whitesmoke;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  grid-area: box1;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1608020932658-d0e19a69580b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGFraXN0YW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item2 {
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: box2;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1600434890250-44df6e4c0d05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFraXN0YW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}
.item3 {
  border-radius: 5px;
  padding: 10px;
  color: whitesmoke;

  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: box3;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1606511490662-b2c5be7d95a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBha2lzdGFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.item4 {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;

  color: whitesmoke;
  justify-content: center;
  height: 250px;
  grid-area: box4;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/flagged/photo-1558113118-e42e558b352a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBha2lzdGFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.item5 {
  border-radius: 5px;
  padding: 10px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: box5;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1605795733251-a0b6c96d9dea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHBha2lzdGFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.inner__brower__container {
  display: flex;
  align-items: center;
  transition: all 1s ease-in-out;
}
.browser__by_perperty {
  overflow: hidden;
  position: relative;
}
.property_container {
  margin: 10px 8px;
}
.browser__by_perperty > h3 {
  padding: 10px 5px;
}
.property_container > img {
  width: 245px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.browser__by_perperty {
  position: relative;
}
.new {
  position: absolute;
  position: absolute;
  top: 0;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  z-index: 989;
  align-items: center;
  justify-content: center;
  width: 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 40px;
  bottom: 0;
  margin: auto;
}
.ti {
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 16px;
}
.iiii {
  color: green;
  font-size: 26px;
  padding-left: 7px;
}
.il {
  padding-left: 5px;
  padding-top: 5px;
}
.ck {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.ck > span {
  padding: 0px 10px;
}
.fle > h3 {
  margin: 0px 5px;
}
.fe {
  font-weight: bold;
}
.fle > h3:last-child {
  color: blue;
}
.fle {
  display: flex;
  font-size: 15px;
  align-items: center;
}
.upper_left {
  display: flex;
  flex-direction: column;
}
.tii {
  padding-left: 5px;
  color: gray;
  font-size: 14px;
}
.upper__right > img {
  width: 130px;
  padding-top: 10px;
  padding-right: 10px;
}
.semi__footer {
  background-color: #003580;
}
.up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.destination {
  margin: 20px 0px;
}
@media screen and (max-width: 1073px) {
  .grid__box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "box1 box3 box2 box2"
      "box4 box5 box2 box2";
  }
  .main__container {
    max-width: 100%;
  }
  .left_box > p {
    color: blue;
  }
  .company {
    max-width: 100%;
  }
}
@media screen and (max-width: 820px) {
  .grid__box {
    display: grid;
    margin: 20px 0px;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "box1 box1 box1 box1 "
      "box2 box2 box2 box2"
      "box3 box3 box3 box3"
      "box4 box4 box4 box4"
      "box5 box5 box5 box5";
  }
  .item1 {
    grid-area: box1;
    height: 250px;
  }
  .item2 {
    grid-area: box2;
    height: 250px;
  }
  .item3 {
    grid-area: box3;
    height: 250px;
  }
  .item4 {
    grid-area: box4;
    height: 250px;
  }
  .item5 {
    grid-area: box5;
    height: 250px;
  }
}
@media screen and (max-width: 475px) {
  .company {
    max-width: 100%;
  }
}
