.semi_ftr {
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.semi_ftr > h3 {
  padding: 0px 0px;
  font-size: 28px;
  color: whitesmoke;
}
.semi_ftr > p {
  font-size: 16px;
}
.l {
  margin: 10px 0px;
}
.l > input {
  padding: 12px 15px;
  border: 1px solid gainsboro;
  outline: none;
  width: 210px;
}
.link_chek {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.link_chek > input {
  margin-right: 10px;
  cursor: pointer;
}
.l > button {
  padding: 12px 15px;
  border: none;
  border: 1px solid #0071c2;
  outline: none;
  background-color: #0071c2;
  font-weight: bold;
  color: white;
}
